# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'ARTN/(G OAEQEE LAAD BSGLNSCTLKMS)',
 'calculationPrice': 'close',
 'open': None,
 'openTime': None,
 'openSource': 'ffciliao',
 'close': None,
 'closeTime': None,
 'closeSource': 'laciioff',
 'high': None,
 'highTime': None,
 'highSource': None,
 'low': None,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 135.13,
 'latestSource': 'Close',
 'latestTime': 'January 14, 2021',
 'latestUpdate': 1622721209519,
 'latestVolume': None,
 'iexRealtimePrice': 0,
 'iexRealtimeSize': 0,
 'iexLastUpdated': 0,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 135.79,
 'previousVolume': 91323617,
 'change': -2.01,
 'changePercent': -0.01572,
 'volume': None,
 'iexMarketPercent': None,
 'iexVolume': 0,
 'avgTotalVolume': 115017759,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 132.39,
 'iexOpenTime': 1679212929337,
 'iexClose': 133.95,
 'iexCloseTime': 1680454346624,
 'marketCap': 2257006754517,
 'peRatio': 39.4,
 'week52High': 140.33,
 'week52Low': 57.44,
 'ytdChange': -0.04406445635005334,
 'lastTradeTime': 1676534689724,
 'isUSMarketOpen': False}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [4]:
pe_ratio = data['peRatio']
pe_ratio

39.4

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [10]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['quote']['peRatio'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  128.680                    56.8                     N/A
1      AAL   16.490                   -1.19                     N/A
2      AAP  170.320                   25.31                     N/A
3     AAPL  131.140                      41                     N/A
4     ABBV  111.820                   24.94                     N/A
..     ...      ...                     ...                     ...
500    YUM  111.420                   31.73                     N/A
501    ZBH  167.100                 -221.85                     N/A
502   ZBRA  428.430                   47.13                     N/A
503   ZION   53.427                   22.24                     N/A
504    ZTS  161.800                   46.39                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [12]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   40.57                    2.48                     N/A
1    NLOK   20.64                     4.1                     N/A
2     AIV    5.11                    4.82                     N/A
3     BIO  617.58                     5.3                     N/A
4     UNM   26.03                    5.66                     N/A
5     ALL  113.97                    7.66                     N/A
6     AFL   47.17                     7.7                     N/A
7    EBAY   56.23                    7.97                     N/A
8     CPB   47.74                    7.98                     N/A
9     KIM   16.79                    8.47                     N/A
10    MET   52.02                    8.83                     N/A
11     KR   33.48                    8.94                     N/A
12    PHM   43.16                    9.21                     N/A
13   BIIB  281.66                    9.68                     N/A
14    CTL   11.00                    9.84                     N/A
15    PNC  162.05                    9.88                     N/A
16    SRE  122.76                    9.91                     N/A
17     BK   48.68                   10.31                     N/A
18    LEN   76.63                   10.59                     N/A
19    MAS   58.23                   10.74                     N/A
20    MGM   31.14                    10.8                     N/A
21    NEE   86.63                    10.9                     N/A
22    PGR   95.00                   11.11                     N/A
23    TSN   65.04                   11.14                     N/A
24    DHI   71.91                   11.22                     N/A
25    HIG   54.54                    11.5                     N/A
26   INTC   61.12                   11.76                     N/A
27    HII  179.65                   11.87                     N/A
28   FOXA   31.69                   11.93                     N/A
29    PFG   56.20                   12.19                     N/A
30    CVS   76.13                    12.7                     N/A
31     VZ   57.91                      13                     N/A
32     WU   22.15                   13.04                     N/A
33   CARR   41.00                   13.07                     N/A
34    HBI   16.40                    13.1                     N/A
35   PBCT   14.80                   13.16                     N/A
36    STT   80.01                   13.16                     N/A
37     MS   78.13                   13.21                     N/A
38    UHS  135.45                   13.22                     N/A
39    LNC   54.56                   13.32                     N/A
40    HUM  418.00                   13.33                     N/A
41    HPQ   26.82                   13.36                     N/A
42    WHR  194.66                      14                     N/A
43    PNW   78.56                      14                     N/A
44      C   69.25                   14.02                     N/A
45    ETR   98.00                   14.03                     N/A
46    MCK  189.74                   14.07                     N/A
47   DISH   34.31                   14.09                     N/A
48     GD  160.82                    14.3                     N/A
49     RE  242.10                   14.31                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [13]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [14]:
portfolio_input()

Enter the value of your portfolio:10000000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [15]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   40.57                    2.48                    4929
1    NLOK   20.64                     4.1                    9689
2     AIV    5.11                    4.82                   39138
3     BIO  617.58                     5.3                     323
4     UNM   26.03                    5.66                    7683
5     ALL  113.97                    7.66                    1754
6     AFL   47.17                     7.7                    4239
7    EBAY   56.23                    7.97                    3556
8     CPB   47.74                    7.98                    4189
9     KIM   16.79                    8.47                   11911
10    MET   52.02                    8.83                    3844
11     KR   33.48                    8.94                    5973
12    PHM   43.16                    9.21                    4633
13   BIIB  281.66                    9.68                     710
14    CTL   11.00                    9.84                   18181
15    PNC  162.05                    9.88                    1234
16    SRE  122.76                    9.91                    1629
17     BK   48.68                   10.31                    4108
18    LEN   76.63                   10.59                    2609
19    MAS   58.23                   10.74                    3434
20    MGM   31.14                    10.8                    6422
21    NEE   86.63                    10.9                    2308
22    PGR   95.00                   11.11                    2105
23    TSN   65.04                   11.14                    3075
24    DHI   71.91                   11.22                    2781
25    HIG   54.54                    11.5                    3667
26   INTC   61.12                   11.76                    3272
27    HII  179.65                   11.87                    1113
28   FOXA   31.69                   11.93                    6311
29    PFG   56.20                   12.19                    3558
30    CVS   76.13                    12.7                    2627
31     VZ   57.91                      13                    3453
32     WU   22.15                   13.04                    9029
33   CARR   41.00                   13.07                    4878
34    HBI   16.40                    13.1                   12195
35   PBCT   14.80                   13.16                   13513
36    STT   80.01                   13.16                    2499
37     MS   78.13                   13.21                    2559
38    UHS  135.45                   13.22                    1476
39    LNC   54.56                   13.32                    3665
40    HUM  418.00                   13.33                     478
41    HPQ   26.82                   13.36                    7457
42    WHR  194.66                      14                    1027
43    PNW   78.56                      14                    2545
44      C   69.25                   14.02                    2888
45    ETR   98.00                   14.03                    2040
46    MCK  189.74                   14.07                    1054
47   DISH   34.31                   14.09                    5829
48     GD  160.82                    14.3                    1243
49     RE  242.10                   14.31                     826

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [16]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# P/E Ratio
pe_ratio = data[symbol]['quote']['peRatio']

# P/B Ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#P/S Ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# EV/EBITDA
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# EV/GP
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [21]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_dataframe = rv_dataframe.append(
            pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                'N/A',
                data[symbol]['quote']['peRatio'],
                'N/A',
                data[symbol]['advanced-stats']['priceToBook'],
                'N/A',
                data[symbol]['advanced-stats']['priceToSales'],
                'N/A',
                ev_to_ebitda,
                'N/A',
                ev_to_gross_profit,
                'N/A',
                'N/A'
        ],
        index = rv_columns),
            ignore_index = True
        )
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.120,N/A,57,N/A,8.19,N/A,7.28,N/A,35.056985,N/A,14.075722,N/A,N/A
1,AAL,17.050,N/A,-1.21,N/A,-1.9,N/A,0.4112,N/A,-6.009100,N/A,1.346053,N/A,N/A
2,AAP,173.780,N/A,24.57,N/A,3.07,N/A,1.18,N/A,11.722599,N/A,2.726824,N/A,N/A
3,AAPL,133.750,N/A,40.6,N/A,33.24,N/A,8.1,N/A,28.072392,N/A,20.843988,N/A,N/A
4,ABBV,117.000,N/A,25,N/A,13.4,N/A,4.96,N/A,17.237073,N/A,9.935436,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,112.170,N/A,31.46,N/A,-4.15,N/A,5.9,N/A,24.103301,N/A,10.043133,N/A,N/A
501,ZBH,166.500,N/A,-231.39,N/A,2.95,N/A,4.82,N/A,27.933770,N/A,7.985689,N/A,N/A
502,ZBRA,422.740,N/A,48.88,N/A,11.77,N/A,5.23,N/A,32.667139,N/A,12.344032,N/A,N/A
503,ZION,53.356,N/A,22.07,N/A,1.22,N/A,2.77,N/A,12.767868,N/A,3.346259,N/A,N/A
504,ZTS,165.290,N/A,48.11,N/A,21.59,N/A,11.84,N/A,32.718586,N/A,17.312418,N/A,N/A

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [18]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
40,AON,209.57,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,245.95,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,12.00,N/A,10.18,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,32.59,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,50.27,N/A,14.49,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
168,EVRG,53.86,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
190,FOX,30.73,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
192,FRC,160.94,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
204,GOOG,1753.82,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
326,MYL,16.44,N/A,32.3,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
327,NBL,8.53,N/A,-0.76,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
348,NWS,18.42,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
363,PEG,60.16,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
442,TROW,161.86,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
452,UA,16.45,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
454,UAL,47.70,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
498,XRX,23.62,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [22]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [23]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [24]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# Print each percentile score to make sure it was calculated properly
for metric in metrics.values():
    print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

0       0.869307
1       0.154455
2        0.49505
3       0.780198
4        0.50297
         ...
500     0.642574
501    0.0257426
502     0.827723
503     0.449505
504     0.817822
Name: PE Percentile, Length: 505, dtype: object
0       0.742574
1      0.0475248
2       0.411881
3       0.960396
4       0.865347
         ...
500    0.0455446
501      0.39802
502     0.837624
503     0.122772
504     0.924752
Name: PB Percentile, Length: 505, dtype: object
0        0.80495
1      0.0257426
2       0.159406
3       0.843564
4       0.692079
         ...
500     0.742574
501     0.684158
502     0.708911
503     0.432673
504     0.930693
Name: PS Percentile, Length: 505, dtype: object
0      0.853465
1      0.029703
2      0.273267
3       0.79802
4      0.512871
         ...
500    0.722772
501     0.79604
502    0.839604
503    0.340594
504    0.841584
Name: EV/EBITDA Percentile, Length: 505, dtype: object
0       0.819802
1      0.0514851
2       0.122772
3       0.940594
4       0.655446
         ...
500     0.663366
501      0.50495
502     0.760396
503     0.176238
504      0.89505
Name: EV/GP Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.120,N/A,57.00,0.869307,8.19,0.742574,7.2800,0.80495,35.056985,0.853465,14.075722,0.819802,N/A
1,AAL,17.050,N/A,-1.21,0.154455,-1.90,0.0475248,0.4112,0.0257426,-6.009100,0.029703,1.346053,0.0514851,N/A
2,AAP,173.780,N/A,24.57,0.49505,3.07,0.411881,1.1800,0.159406,11.722599,0.273267,2.726824,0.122772,N/A
3,AAPL,133.750,N/A,40.60,0.780198,33.24,0.960396,8.1000,0.843564,28.072392,0.79802,20.843988,0.940594,N/A
4,ABBV,117.000,N/A,25.00,0.50297,13.40,0.865347,4.9600,0.692079,17.237073,0.512871,9.935436,0.655446,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,112.170,N/A,31.46,0.642574,-4.15,0.0455446,5.9000,0.742574,24.103301,0.722772,10.043133,0.663366,N/A
501,ZBH,166.500,N/A,-231.39,0.0257426,2.95,0.39802,4.8200,0.684158,27.933770,0.79604,7.985689,0.50495,N/A
502,ZBRA,422.740,N/A,48.88,0.827723,11.77,0.837624,5.2300,0.708911,32.667139,0.839604,12.344032,0.760396,N/A
503,ZION,53.356,N/A,22.07,0.449505,1.22,0.122772,2.7700,0.432673,12.767868,0.340594,3.346259,0.176238,N/A
504,ZTS,165.290,N/A,48.11,0.817822,21.59,0.924752,11.8400,0.930693,32.718586,0.841584,17.312418,0.89505,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [18]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,126.320,N/A,57.20,0.867327,8.00,0.731683,7.5000,0.811881,34.937202,0.853465,13.811216,0.80396,0.813663
1,AAL,16.464,N/A,-1.21,0.154455,-1.80,0.0475248,0.3982,0.0257426,-6.217273,0.029703,1.382275,0.0534653,0.0621782
2,AAP,172.810,N/A,25.71,0.510891,3.20,0.425743,1.2300,0.174257,11.697642,0.267327,2.596165,0.116832,0.29901
3,AAPL,134.840,N/A,41.22,0.786139,34.20,0.962376,8.0600,0.843564,29.598378,0.815842,21.869015,0.950495,0.871683
4,ABBV,115.820,N/A,24.74,0.49901,13.29,0.855446,4.9500,0.688119,16.818743,0.49901,9.859262,0.649505,0.638218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,109.230,N/A,31.66,0.648515,-4.28,0.0435644,5.9700,0.746535,24.052222,0.716832,10.517685,0.685149,0.568119
501,ZBH,163.210,N/A,-230.26,0.0257426,2.93,0.394059,5.0100,0.69703,27.664835,0.794059,8.327366,0.536634,0.489505
502,ZBRA,415.960,N/A,48.69,0.819802,11.89,0.843564,5.2100,0.706931,31.952744,0.833663,11.873153,0.742574,0.789307
503,ZION,52.700,N/A,22.06,0.451485,1.18,0.120792,2.7000,0.420792,12.546571,0.326733,3.163156,0.160396,0.29604
504,ZTS,166.870,N/A,47.89,0.817822,21.55,0.922772,11.8900,0.932673,33.681560,0.847525,17.613981,0.89901,0.88396

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [25]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [26]:
portfolio_input()

Enter the value of your portfolio:10000000

In [28]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

C:\Users\PLT\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,129.12,1548,57.000000,0.869307,8.190000,0.742574,7.280000,0.80495,35.056985,0.853465,14.075722,0.819802,N/A
1,NTRS,100.79,1984,17.300000,0.346535,1.960000,0.272277,3.260000,0.510891,11.865420,0.283168,3.262144,0.164356,N/A
2,NTAP,67.04,2983,21.540000,0.439604,40.960000,0.972277,2.730000,0.426733,11.883103,0.287129,3.582808,0.19604,N/A
3,NSC,260.69,767,32.910000,0.673267,4.410000,0.534653,6.690000,0.782178,16.996838,0.50099,7.802817,0.493069,N/A
4,NRG,41.12,4863,2.480000,0.188119,5.280000,0.614851,1.110000,0.146535,7.936363,0.10495,5.460136,0.324752,N/A
5,NOW,520.02,384,156.420000,0.986139,38.210000,0.968317,23.920000,0.99604,197.434179,0.99802,29.512472,0.990099,N/A
6,NOV,16.06,12453,-2.370000,0.138614,1.150000,0.105941,0.875500,0.0851485,25969.403118,1,7.564639,0.473267,N/A
7,NOC,311.80,641,21.790000,0.443564,5.000000,0.583168,1.440000,0.211881,11.585538,0.263366,8.293294,0.534653,N/A
8,NLSN,23.01,8691,-53.390000,0.0613861,4.020000,0.515842,1.330000,0.19505,9.601851,0.156436,4.367231,0.239604,N/A
9,NLOK,21.24,9416,4.000000,0.190099,-26.280000,0.0158416,6.560000,0.768317,17.099639,0.50297,8.316727,0.536634,N/A
10,NKE,144.20,1386,81.460000,0.926733,21.050000,0.920792,6.000000,0.748515,49.126030,0.90297,12.896040,0.776238,N/A
11,NI,22.24,8992,-29.280000,0.0732673,1.870000,0.257426,1.780000,0.280198,10.118881,0.194059,5.109619,0.29703,N/A
12,NFLX,515.32,388,84.460000,0.932673,22.290000,0.930693,9.370000,0.877228,24.744540,0.734653,25.067014,0.972277,N/A
13,NEM,63.67,3141,20.290000,0.417822,2.350000,0.336634,4.690000,0.669307,8.927728,0.140594,8.966939,0.613861,N/A
14,NEE,83.98,2381,10.580000,0.225743,4.500000,0.539604,8.910000,0.865347,22.762507,0.693069,14.216516,0.825743,N/A
15,NDAQ,144.71,1382,26.290000,0.532673,4.030000,0.518812,4.570000,0.629703,16.738422,0.49703,9.097690,0.617822,N/A
16,NCLH,27.31,7323,-2.040000,0.142574,1.460000,0.180198,2.130000,0.344554,-35.854891,0.0138614,6.729608,0.409901,N/A
17,NBL,8.52,23474,-0.740000,0.186139,9.509239,0.786139,4.676424,0.651485,72.424996,0.958416,8.685143,0.576238,N/A
18,MYL,16.64,12019,32.070000,0.655446,9.509239,0.786139,4.676424,0.651485,72.424996,0.958416,8.685143,0.576238,N/A
19,MXIM,98.80,2024,39.000000,0.761386,15.640000,0.891089,11.480000,0.926733,33.989751,0.849505,16.947458,0.889109,N/A
20,MU,83.70,2389,31.460000,0.642574,2.350000,0.336634,4.150000,0.605941,9.725603,0.164356,13.138079,0.790099,N/A
21,MTD,1208.40,165,51.020000,0.847525,67.850000,0.978218,9.930000,0.885149,37.225944,0.869307,17.400228,0.89901,N/A
22,MTB,149.56,1337,15.210000,0.30495,1.290000,0.137624,3.100000,0.485149,10.579213,0.215842,3.491635,0.192079,N/A
23,MSI,173.93,1149,39.860000,0.766337,-39.500000,0.0118812,3.960000,0.586139,20.363543,0.631683,9.008984,0.615842,N/A
24,MSFT,213.81,935,36.040000,0.718812,13.070000,0.854455,11.470000,0.924752,27.715993,0.792079,15.003241,0.843564,N/A
25,MSCI,424.22,471,64.140000,0.893069,-88.340000,0.00792079,20.750000,0.986139,37.034140,0.865347,25.095185,0.974257,N/A
26,MS,78.65,2542,13.360000,0.267327,1.800000,0.241584,2.760000,0.429703,8.790177,0.130693,2.725480,0.120792,N/A
27,MRO,8.96,22321,-6.110000,0.122772,0.653500,0.0594059,2.030000,0.324752,7.185886,0.0732673,4.107459,0.225743,N/A
28,NUE,59.14,3381,42.100000,0.794059,1.740000,0.233663,0.865500,0.0792079,9.304881,0.152475,10.143701,0.671287,N/A
29,NVDA,547.61,365,90.440000,0.940594,21.880000,0.926733,22.250000,0.994059,64.172726,0.928713,34.003951,1,N/A
30,NVR,4092.42,48,18.900000,0.394059,5.310000,0.618812,2.090000,0.338614,12.659218,0.334653,8.683328,0.558416,N/A
31,NWL,24.40,8196,-103.190000,0.0376238,2.830000,0.388119,1.020000,0.116832,11.879261,0.285149,4.657216,0.261386,N/A
32,PNC,162.82,1228,9.790000,0.217822,1.280000,0.134653,3.650000,0.557426,14.209951,0.413861,4.369821,0.241584,N/A
33,PM,84.98,2353,17.020000,0.338614,-10.480000,0.0316832,3.230000,0.506931,13.679937,0.384158,5.226056,0.308911,N/A
34,PLD,98.10,2038,45.190000,0.807921,2.200000,0.310891,17.000000,0.968317,19.203035,0.576238,20.838621,0.938614,N/A
35,PKI,153.12,1306,40.780000,0.782178,5.270000,0.611881,5.200000,0.70396,21.277937,0.659406,10.744107,0.69505,N/A
36,PKG,148.00,1351,29.820000,0.609901,4.290000,0.528713,2.030000,0.324752,11.715588,0.271287,10.455131,0.685149,N/A
37,PHM,43.03,4647,8.870000,0.209901,1.830000,0.252475,1.080000,0.135644,7.147322,0.0693069,4.479741,0.243564,N/A
38,PH,305.51,654,31.790000,0.649505,5.750000,0.648515,2.820000,0.444554,19.316806,0.584158,13.346558,0.79604,N/A
39,PGR,95.07,2103,11.300000,0.235644,3.270000,0.440594,1.350000,0.20099,7.469532,0.0811881,1.270795,0.0455446,N/A
40,PG,141.20,1416,26.940000,0.544554,7.330000,0.706931,4.710000,0.675248,17.939671,0.526733,9.700119,0.639604,N/A
41,PFG,54.70,3656,12.500000,0.245545,0.977200,0.0851485,1.000000,0.114851,7.737506,0.0950495,0.949024,0.0277228,N/A
42,PFE,37.00,5405,24.630000,0.49703,3.210000,0.426733,4.400000,0.610891,14.857172,0.433663,6.433434,0.392079,N/A
43,PEP,144.74,1381,28.800000,0.576238,14.680000,0.881188,2.950000,0.460396,18.408200,0.546535,6.146850,0.376238,N/A
44,PEG,60.53,3304,-0.965833,0.170297,9.509239,0.786139,4.676424,0.651485,72.424996,0.958416,8.685143,0.576238,N/A
45,MRK,82.79,2415,18.870000,0.390099,7.450000,0.716832,4.510000,0.621782,12.643844,0.332673,6.865063,0.419802,N/A
46,PEAK,29.88,6693,51.010000,0.845545,2.400000,0.344554,7.040000,0.8,23.825477,0.712871,6.793035,0.413861,N/A
47,PBCT,15.30,13071,13.240000,0.259406,0.862300,0.0732673,2.770000,0.432673,9.516390,0.154455,2.807141,0.130693,N/A
48,PAYX,90.10,2219,31.100000,0.627723,11.170000,0.829703,8.350000,0.851485,22.396908,0.683168,15.022712,0.845545,N/A
49,PAYC,426.54,N/A,153.520000,0.984158,39.380000,0.970297,30.220000,0.99802,92.892636,0.984158,32.581931,0.99802,N/A

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [29]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [30]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [31]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [32]:
writer.save()